/* some style */
/* TODO we need to integrate SASS here, look up how we can hook that into flywheel compilation */
body, html {
  padding: 0;
  margin: 0;
  background: #323643;
  color: white;
  font-size: 16px;
  overflow-x: hidden;
}

h1{font-size: 2.5rem; margin: 0; padding: 0;}
h2{font-size: 2rem; margin: 0; padding: 0;}
h3{font-size: 1.5rem; margin: 0; padding: 0;}
h4{font-size: 1.25rem; margin: 0; padding: 0;}

button {
  background: #39ADFF;
  border: none;
  color: white;
  font-size: 1rem;
  padding: 10px;
  text-transform: uppercase;
  border: 1px solid white;
}

.Header .addNew {
  cursor: pointer;
}

.addNewButton {
  position: fixed;
  bottom: 0px;
  right: 25px;
  background: #24DC25;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 2.5rem;
  border-radius: 50%;
  transition: .25s;
}
.addNewButton:active {
  background: #1fc220;
}


/* TODO we need to use some reset so we don't have to keep declaring border-box on all elements with padding */
.Habit {
  background: #44495C;
  border-top: 1px solid #353947;
  border-bottom: 1px solid #353947;
  width: 90%;
  margin: 15px auto;
  padding: 10px;
  border-radius: 25spx;
  display: flex;
  flex-wrap: wrap;
}

.Habit .title {
  width: 100%;
  text-transform: uppercase;
  box-sizing: border-box;
}

.Habit .status {
  width: 50%;
  box-sizing: border-box;
}

.Habit .button-wrapper {
  width: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
}



/* HABIT VIEW STYLES */

.Habit-View {
  position: absolute;
  top: 0;
  left: 200%;
  transition: all .5s;
  height: 100%;
  width: 100%;
  background: #323643;
  padding: 10px;
  box-sizing: border-box;
}

.Habit-View.active {
  left: 0;
}

.Habit-View .close {
  position: absolute;
  top: 0px;
  right: 10px;
}
