/* some style */
/* TODO we need to integrate SASS here, look up how we can hook that into flywheel compilation */
/* We also need to clean up some of the comments, leaving then during dev to revert some design changes  */

@font-face {
    font-family: Niramit;
    src: url(Niramit/Niramit-Light.ttf);
}

@font-face {
    font-family: Niramit-bold;
    src: url(Niramit/Niramit-Regular.ttf);
}


body, html {
  padding: 0;
  margin: 0;
  /* background: #323643; */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#17c5e4+0,173392+100 */
  background: #17c5e4; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #17c5e4 0%, #173392 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #17c5e4 0%,#173392 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #17c5e4 0%,#173392 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17c5e4', endColorstr='#173392',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  height: 100%;
  color: white;
  font-size: 16px;
  overflow: hidden;
  position: relative;
  font-family: 'Niramit', sans-serif;
}

h1{font-size: 2.5rem; margin: 0; padding: 0;}
h2{font-size: 2rem; margin: 0; padding: 0;}
h3{font-size: 1.5rem; margin: 0; padding: 0;}
h4{font-size: 1.25rem; margin: 0; padding: 0;}
h1,h2,h3,h4{font-weight: 500; font-family: 'Niramit-bold', sans-serif;}

button {
  /* background: #5ca4d7; */
  background: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  padding: 10px;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 15px;
}

button:focus {
  color: #0d2c54;
  background: white;
}

input {
  width: 120px;
  padding: 5px;
  height: 20px;
  border: none;
  margin-right: 10px;
}

.uppercase {
  text-transform: uppercase;
}

.Header {
  background: #177ab6;
  padding: 15px 0;
  margin-bottom: 25px;
  text-align: center;
  box-shadow: 0px -1px 20px 2px #000000;
  text-transform: uppercase;
}

.Header .addNew {
  cursor: pointer;
}

.addNewButton {
  position: fixed;
  bottom: 20px;
  right: 25px;
  background: #24DC25;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 2.5rem;
  border-radius: 50%;
  transition: .25s;
  line-height: 35px;
}
.addNewButton:active {
  background: #1fc220;
}

.Dashboard {

}

.Dashboard-content {
  overflow-y: scroll;
  height: calc(100vh - 85px);
}

/* NEW SCREEN STLYES */
.New {
  position: absolute;
  top: 0;
  left: 200%;
  transition: all .5s;
  height: 100%;
  width: 100%;
  /* background: #323643; */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#17c5e4+0,173392+100 */
  background: #17c5e4; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #17c5e4 0%, #173392 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #17c5e4 0%,#173392 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #17c5e4 0%,#173392 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17c5e4', endColorstr='#173392',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  box-sizing: border-box;
  z-index: 3;
}

/* TODO see if we can get this to be active to be consistent */
.New.true {
  left: 0;
}

.New .close {
  position: absolute;
  top: 2px;
  left: 10px;
}

.New--content {
  padding: 10px;
}


/* TODO we need to use some reset so we don't have to keep declaring border-box on all elements with padding */
.Habit {
  background: #1e4e8d;
  /* border-top: 1px solid #424655;
  border-bottom: 1px solid #424655; */
  width: 90%;
  max-width: 560px;
  margin: 25px auto;
  padding: 25px;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-between;
}

.Habit .title {
  text-transform: uppercase;
  box-sizing: border-box;
}

.Habit .status {
  width: 50%;
  box-sizing: border-box;
}
.Habit .title-wrapper {
  width: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Habit .button-wrapper {
  width: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
}



/* HABIT VIEW STYLES */

.Habit-View {
  position: absolute;
  top: 0;
  left: 200%;
  transition: all .5s;
  height: 100%;
  width: 100%;
  /* background: #323643; */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#17c5e4+0,173392+100 */
  background: #17c5e4; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #17c5e4 0%, #173392 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #17c5e4 0%,#173392 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #17c5e4 0%,#173392 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17c5e4', endColorstr='#173392',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  box-sizing: border-box;
  z-index: 1;
}

.Habit-View.active {
  left: 0;
}

.Habit-View .close {
  position: absolute;
  top: 2px;
  left: 10px;
}

.Habit-View .Stats {
  width: 90%;
  margin: 0 auto;
  margin-top: 25px;
  padding-top: 20px;
  border-top: 1px solid #1e4e8d;
}

.Habit-View .Stats--header  {
  margin-bottom: 10px;
}


/* TUTORIAL STYLES */
.Tutorial {
  position: absolute;
  top: 0;
  left: 200%;
  transition: all .5s;
  height: 100%;
  width: 100%;
  /* background: #323643; */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#17c5e4+0,173392+100 */
  background: #17c5e4; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #17c5e4 0%, #173392 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #17c5e4 0%,#173392 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #17c5e4 0%,#173392 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17c5e4', endColorstr='#173392',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  box-sizing: border-box;
  z-index: 3;
}

/* TODO see if we can get this to be active to be consistent */
.Tutorial.true {
  left: 0;
}

.Tutorial .Tutorial-slide {
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 200%;
  transition: all .5s;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: #17c5e4; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #17c5e4 0%, #173392 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #17c5e4 0%,#173392 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #17c5e4 0%,#173392 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17c5e4', endColorstr='#173392',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.Tutorial .Tutorial-slide.active {
  left: 0;
}

.Tutorial img {
  margin: 0 auto;
  width: 75%;
  max-width: 320px;
}

.Tutorial button {
  max-width: 420px;
  margin: 10px auto;
}



/* NEW DELETE BUTTON STUFF */

p.delete {
  margin-top: 20px;
}

